version: '3'
services:    
  # TODO STATIC SERVER       
  todo-static-debugger:
    container_name: todo-static-debugger
    image: 'httpd:latest'
    logging: { driver: none }    
    networks: [todo-debugger]
    ports: ['1001:80']
    restart: always
    volumes: ['./todo/static:/usr/local/apache2/htdocs']    

  # TODO MEDIA SERVER
  todo-media-debugger:
    container_name: todo-media-debugger
    image: 'httpd:latest'
    logging: { driver: none }    
    networks: [todo-debugger]
    ports: ['1002:80']
    restart: always
    volumes: ['./todo/static:/usr/local/apache2/htdocs']    
      
  # TODO APP
  todo-app-debugger:
    build:
      context: ./todo
      args:
        BUILD_ENV: development
    image: 'todo-app-debugger:latest'
    container_name: todo-app-debugger    
    command: bash -c "/usr/src/app/start"    
    networks: [todo-debugger]
    ports: ['9999:8000']
    restart: always
    environment:      
      DJANGO_USE_DEBUG: 1
      SECRET_KEY: development      
      MEDIA_HOST: 'localhost:1001'
      STATIC_HOST: 'localhost:1002'

    volumes:
      - './todo/apps/django_crontab_manager:/usr/src/app/django_crontab_manager'
      - './todo/apps/task:/usr/src/app/task' 
      - './todo/apps/utils:/usr/src/app/utils'
      - './todo/data:/usr/src/app/data'
      - './todo/htmlcov:/usr/src/app/htmlcov'
      - './todo/locale:/usr/src/app/locale'
      - './todo/main:/usr/src/app/main'      
      - './todo/media:/usr/src/app/media'
      - './todo/site_static:/usr/src/app/site_static'
      - './todo/static:/usr/src/app/static'
      - './todo/templates:/usr/src/app/templates'
      - './.vscode:/usr/src/app/.vscode'

networks:      
  todo-debugger:      
      driver: bridge