version: '3'
services:  
  # SELENIUM REMOTE WEBDRIVER
  project-selenium:
    container_name: project-selenium
    image: "selenium/standalone-chrome:4.0.0-rc-1-prerelease-20210618"
    logging: { driver: none }
    ports: [4444:4444]
    restart: always
    volumes: [/dev/shm:/dev/shm]
    environment: 
      SE_NODE_MAX_SESSIONS: 4
      SE_NODE_OVERRIDE_MAX_SESSIONS: "true"

  # PROXY
  projec-proxy:
    container_name: todo-proxy
    image: "jwilder/nginx-proxy:latest"
    logging: { driver: none }
    ports: ["${PROXY_SERVICE_PORT}:80"]
    restart: always
    volumes: ["/var/run/docker.sock:/tmp/docker.sock:ro"]

  # REDIS
  project-redis:
    image: redis:latest
    container_name: project-redis
    restart: always    
    ports: ["${REDIS_SERVICE_PORT}:6379"]

  # REDIS COMMANDER
  project-redis-commander:
    container_name: project-redis-commander
    depends_on: [project-redis]
    hostname: redis-commander
    image: rediscommander/redis-commander:latest
    logging: { driver: none }
    ports: ["8081:8081"]
    restart: always
    environment:
      REDIS_HOSTS: local:project-redis:6379

  # TODO COVERAGE SERVER       
  todo-coverage:
    container_name: todo-coverage
    image: 'httpd:latest'
    restart: always
    volumes: ['./todo/htmlcov:/usr/local/apache2/htdocs']
    ports: ['80']
    logging: { driver: none }
    environment:
      - 'VIRTUAL_HOST=todo-test.${DOMAIN}'
  
  # TODO STATIC SERVER       
  todo-static:
    container_name: todo-static
    image: 'httpd:latest'
    logging: { driver: none }
    ports: ['80']
    restart: always
    volumes: ['./todo/static:/usr/local/apache2/htdocs']
    depends_on: [projec-proxy]
    environment:
      - 'VIRTUAL_HOST=${TODO_SERVICE_STATIC_HOST}.${DOMAIN}'

  # TODO MEDIA SERVER
  todo-media:
    container_name: todo-media
    image: 'httpd:latest'
    restart: always
    volumes: ['./todo/media:/usr/local/apache2/htdocs']
    ports: ['80']
    logging: { driver: none }
    depends_on: [projec-proxy]
    environment:
      - 'VIRTUAL_HOST=${TODO_SERVICE_MEDIA_HOST}.${DOMAIN}'  

  # TODO EVENT CONSUMER
  todo-app-eventprocessor:    
    image: 'todo-app:latest'
    container_name: todo-app-eventprocessor
    build:
      context: ./todo
      args: { BUILD_ENV: $ENV }
    restart: always
    command: > 
      bash -c "/usr/src/app/wait-for-it project-redis:6379 && 
      /usr/src/app/start-eventprocessor"
    volumes: &todo-app-volumes              
      - './todo:/usr/src/app'
    environment: &todo-app-environment
      DJANGO_USE_DEBUG: 1
      MEDIA_HOST: "${TODO_SERVICE_MEDIA_HOST}.${DOMAIN}"       
      PYTHONUNBUFFERED: 1      
      REDIS_HOST: project-redis
      REDIS_PORT: 6379
      SECRET_KEY: $SECRET_KEY            
      STATIC_HOST: "${TODO_SERVICE_STATIC_HOST}.${DOMAIN}"                  
    depends_on: [projec-proxy, project-redis]
      
  # TODO APP
  todo-app:
    container_name: todo-app
    image: 'todo-app:latest'
    restart: always
    command: bash -c "/usr/src/app/start"
    volumes: *todo-app-volumes
    ports:
      - '$TODO_SERVICE_SERVICE_PORT:8000'    
    environment:      
      <<: *todo-app-environment
      SITE_HOST: "${TODO_SERVICE_HOST}.${DOMAIN}"
      SELENIUM_URL: http://project-selenium:4444
      TESTER_APP_URL: http://todo-app:8000
      VIRTUAL_HOST: "${TODO_SERVICE_HOST}.${DOMAIN}"
      VIRTUAL_PORT: 8000
    depends_on: [projec-proxy, project-selenium, todo-app-eventprocessor]