version: '3'
services:  
  # SELENIUM REMOTE WEBDRIVER
  project-selenium:
    container_name: project-selenium
    image: "selenium/standalone-chrome:4.0.0-rc-1-prerelease-20210618"
    ports: [4444:4444]
    restart: always
    volumes: [/dev/shm:/dev/shm]
    environment: 
      SE_NODE_MAX_SESSIONS: 4
      SE_NODE_OVERRIDE_MAX_SESSIONS: "true"

  # PROXY
  projec-proxy:
    container_name: todo-proxy
    image: "jwilder/nginx-proxy:latest"
    logging: { driver: none }
    ports: ["${PROXY_SERVICE_PORT}:80"]
    restart: always
    volumes: ["/var/run/docker.sock:/tmp/docker.sock:ro"]

  # TODO COVERAGE SERVER       
  todo-coverage:
    container_name: todo-coverage
    image: 'httpd:latest'
    restart: always
    volumes: ['./todo/htmlcov:/usr/local/apache2/htdocs']
    ports: ['80']
    logging: { driver: none }
    environment:
      - 'VIRTUAL_HOST=todo-test.${DOMAIN}'
  
  # TODO STATIC SERVER       
  todo-static:
    container_name: todo-static
    image: 'httpd:latest'
    logging: { driver: none }
    ports: ['80']
    restart: always
    volumes: ['./todo/static:/usr/local/apache2/htdocs']
    depends_on: [projec-proxy]
    environment:
      - 'VIRTUAL_HOST=${TODO_SERVICE_STATIC_HOST}.${DOMAIN}'

  # TODO MEDIA SERVER
  todo-media:
    container_name: todo-media
    image: 'httpd:latest'
    restart: always
    volumes: ['./todo/media:/usr/local/apache2/htdocs']
    ports: ['80']
    logging: { driver: none }
    depends_on: [projec-proxy]
    environment:
      - 'VIRTUAL_HOST=${TODO_SERVICE_MEDIA_HOST}.${DOMAIN}'  
      
  # TODO APP
  todo-app:
    container_name: todo-app
    build:
      context: ./todo
      args:
        BUILD_ENV: $ENV
    restart: always
    command: bash -c "/usr/src/app/start"
    volumes:
      - './todo/apps/task:/usr/src/app/task' 
      - './todo/apps/utils:/usr/src/app/utils'
      - './todo/data:/usr/src/app/data'
      - './todo/htmlcov:/usr/src/app/htmlcov'
      - './todo/locale:/usr/src/app/locale'
      - './todo/main:/usr/src/app/main'      
      - './todo/media:/usr/src/app/media'
      - './todo/static:/usr/src/app/static'
      - './todo/site_static:/usr/src/app/site_static'
      - './todo/templates:/usr/src/app/templates'
    ports:
      - '$TODO_SERVICE_SERVICE_PORT:8000'    
    environment:      
      DJANGO_USE_DEBUG: $TODO_DJANGO_USE_DEBUG            
      MEDIA_HOST: "${TODO_SERVICE_MEDIA_HOST}.${DOMAIN}"       
      NETWORK_APP_URL: http://todo-app:8000
      SECRET_KEY: $SECRET_KEY
      SELENIUM_URL: http://project-selenium:4444
      SITE_HOST: "${TODO_SERVICE_HOST}.${DOMAIN}"      
      STATIC_HOST: "${TODO_SERVICE_STATIC_HOST}.${DOMAIN}"
      VIRTUAL_HOST: "${TODO_SERVICE_HOST}.${DOMAIN}"
      VIRTUAL_PORT: 8000          
    depends_on:
    - projec-proxy       
    - project-selenium