version: '3'
services:
  # PROXY
  projec-proxy:
    container_name: todo-proxy
    image: "jwilder/nginx-proxy:latest"
    logging: { driver: none }
    ports: ["${PROXY_SERVICE_PORT}:80"]
    restart: always
    volumes: ["/var/run/docker.sock:/tmp/docker.sock:ro"]
  
  # PDADMIN 
  project-pgadmin:
    container_name: project-pgadmin
    depends_on: [todo-postgres]
    image: dpage/pgadmin4
    logging: { driver: none }
    ports: ["${PGADMIN_DEFAULT_PORT}:80"]
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: $PGADMIN_DEFAULT_EMAIL
      PGADMIN_DEFAULT_PASSWORD: $PGADMIN_DEFAULT_PASSWORD
  
  # TODO POSTGRE DATABASE
  todo-postgres:
    container_name: todo-postgres
    image: postgres:latest
    logging: { driver: none }
    ports: ["${TODO_POSTGRES_SERVICE_PORT}:5432"]
    restart: always
    volumes: [todo:/var/lib/postgresql/data]
    environment:
      PGDATA: /var/lib/postgresql/data/pgdata
      POSTGRES_DB: $TODO_POSTGRES_SERVICE_DATABASE_NAME
      POSTGRES_PASSWORD: $TODO_POSTGRES_SERVICE_PASSWORD
      POSTGRES_USER: $TODO_POSTGRES_SERVICE_USER

  # TODO STATIC SERVER       
  todo-static:
    container_name: todo-static
    depends_on: [projec-proxy]
    environment: ['VIRTUAL_HOST=${TODO_SERVICE_STATIC_HOST}.${DOMAIN}']
    image: 'httpd:latest'
    logging: { driver: none }
    ports: ['80']
    restart: always
    volumes: ['./todo/static:/usr/local/apache2/htdocs']

  # TODO MEDIA SERVER
  todo-media:
    container_name: todo-media
    depends_on: [projec-proxy]
    environment: ['VIRTUAL_HOST=${TODO_SERVICE_MEDIA_HOST}.${DOMAIN}']
    image: 'httpd:latest'
    logging: { driver: none }
    ports: ['80']
    restart: always
    volumes: [./todo/media:/usr/local/apache2/htdocs']
  
  # TODO APP
  todo-app:
    ports: ['$TODO_SERVICE_SERVICE_PORT:8000']
    image: 'todo-app:latest'
    container_name: todo-app
    build:
      context: ./todo
      args: { BUILD_ENV: $ENV }
    restart: always
    command: > 
      bash -c "/usr/src/app/wait-for-it todo-postgres:5432 
      && /usr/src/app/start"
    volumes:
      - './todo/apps/task:/usr/src/app/task' 
      - './todo/apps/utils:/usr/src/app/utils'
      - './todo/data:/usr/src/app/data'
      - './todo/htmlcov:/usr/src/app/htmlcov'
      - './todo/locale:/usr/src/app/locale'
      - './todo/main:/usr/src/app/main'      
      - './todo/media:/usr/src/app/media'
      - './todo/static:/usr/src/app/static'
      - './todo/site_static:/usr/src/app/site_static'
      - './todo/templates:/usr/src/app/templates'
    environment:
      DJANGO_USE_DEBUG: $TODO_DJANGO_USE_DEBUG
      DJANGO_USE_DEBUG_TOOLBAR: $TODO_DJANGO_USE_DEBUG_TOOLBAR      
      MEDIA_HOST: "${TODO_SERVICE_MEDIA_HOST}.${DOMAIN}"       
      POSTGRESQL_DATABASE: $TODO_POSTGRES_SERVICE_DATABASE_NAME
      POSTGRESQL_HOST: "todo-postgres"
      POSTGRESQL_PASSWORD: $TODO_POSTGRES_SERVICE_PASSWORD
      POSTGRESQL_PORT: $TODO_POSTGRES_SERVICE_PORT
      POSTGRESQL_USER: $TODO_POSTGRES_SERVICE_USER
      SECRET_KEY: $SECRET_KEY
      SITE_HOST: "${TODO_SERVICE_HOST}.${DOMAIN}"      
      STATIC_HOST: "${TODO_SERVICE_STATIC_HOST}.${DOMAIN}"
      VIRTUAL_HOST: "${TODO_SERVICE_HOST}.${DOMAIN}"
      VIRTUAL_PORT: 8000   
    depends_on:      
      - projec-proxy   
      - todo-postgres
  
volumes:    
  todo:         