version: '3'
services:    
  # REDIS
  project-redis-debugger:
    image: redis:latest
    container_name: project-redis-debugger
    networks: [todo-debugger]
    restart: always    
    ports: ["${REDIS_SERVICE_PORT}:6379"]

  # REDIS COMMANDER
  project-redis-commander-debugger:
    container_name: project-redis-commander-debugger
    depends_on: [project-redis-debugger]
    hostname: redis-commander
    image: rediscommander/redis-commander:latest
    logging: { driver: none }
    networks: [todo-debugger]
    ports: ["8081:8081"]
    restart: always
    environment:
      REDIS_HOSTS: local:project-redis-debugger:6379

  # TODO EVENT CONSUMER
  todo-app-eventprocessor-debugger:    
    image: 'todo-app:latest'
    container_name: todo-app-eventprocessor-debugger    
    networks: [todo-debugger]
    restart: always
    command: > 
      bash -c "/usr/src/app/wait-for-it project-redis:6379 && /usr/src/app/start-eventprocessor"
    volumes: ['./todo:/usr/src/app']
    environment: &todo-app-environment
      DJANGO_USE_DEBUG: 1
      MEDIA_HOST: "${TODO_SERVICE_MEDIA_HOST}.${DOMAIN}"       
      PYTHONUNBUFFERED: 1      
      REDIS_HOST: project-redis-debugger
      REDIS_PORT: 6379
      SECRET_KEY: $SECRET_KEY            
      STATIC_HOST: "${TODO_SERVICE_STATIC_HOST}.${DOMAIN}"                

  # TODO APP
  todo-app-debugger:    
    image: 'todo-app:latest'
    container_name: todo-app-debugger        
    networks: [todo-debugger]
    ports: ['9999:8000']
    restart: always
    volumes: ['.:/usr/src/app'] 
    environment: *todo-app-environment
    depends_on: [todo-app-eventprocessor-debugger]      

networks:      
  todo-debugger:      
      driver: bridge