{% extends 'base.html' %}
{% block content %}
<div class="ui main container">
    <h1 class="ui header">
        {{ object.title }}
        {% if object.finished_at %}
        <span class="ui green tiny label">finished</span>
        {% else %}
        <span class="ui orange tiny label">opend</span>
        {% endif %}
        {% if object.is_past_due %}
        <span class="ui red tiny label">overdue</span>
        {% endif %}
    </h1>
    <div class="meta">        
        <small>Created At: {{ object.created_at|default_if_none:"" }}</small><br>
        <small>Updated At: {{ object.updated_at|default_if_none:"" }}</small><br>
        <small class="ui text red">Deadline At: {{ object.deadline_at|default_if_none:"" }}</small><br>
        <small>Finished At: {{ object.finished_at|default_if_none:"" }}</small><br>   
    </div>
    <div class="text">
        Description: {{ object.description }}
        <div class="extra">                    
            <div>{{task.description}}</div>
            <br>
            {% for tag in object.tag_list %}
            <div class="ui tiny label olive">{{ tag.slug }}</div>
            {% endfor %}
            <a href="{% url 'task:delete' id=object.id %}" class="ui right floated button red"><i class="close icon"></i>delete</a>
            <a href="{% url 'task:update' id=object.id %}" class="ui right floated button teal"><i class="edit icon"></i>edit</a>            
        </div>
    </div>        
</div>
{% endblock %}