{% extends 'base.html' %}
{% block content %}        
     <main>
        <ul>
            {% for task in object_list %}
            <li>
                {{ forloop.counter }} - {{task.title}}
                <br>                
                <a href="{{ task.get_absolute_url }}">View</a>
                <a href="{% url 'todo:update' id=task.id %}">Update</a>
                <a href="{% url 'todo:delete' id=task.id %}">Delete</a>            
                <br><br>
            </li>
            {% endfor %}
        </ul>
     </main>    
{% endblock %}
